<h1></h1>


<div class="basic-spacing">
    <a class="basic-btn" href="/places/adding">Add a new place</a> <br>
</div>


<div class="basic-spacing">
    <a class="basic-btn-mk2" href="/places">All places</a>
</div>


<div id="map" class="basic-spacing"></div>